<div class="container">
	<footer class="footer">
	<small>
		Copyright &copy; <a href="http://www.cgmeetup.net/home/">The complete Computer Graphics Development Organization</a> by <a href="https://www.google.com">Ramesh Ram</a>
	</small>
	<nav>
		<ul><%= link_to "About", about_path %></ul>
	</nav>
	</footer>
</div>